{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title 'Hello' %}

{% block body %}

    <div class="bg-img"></div>
    <div class="bg-text">
        <p>Jord</p>
    </div>

 {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% endblock %}