.home-img{
    min-width: 100%;
    position: fixed;
    -webkit-filter: blur(0.8px);
}

.bg-text {
    color: white;
    font-family: 'Princess Sofia', cursive;
    font-size: 8em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }